<!DOCTYPE html>
<html lang="en">
<head>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="header">
			<h3 class="text-muted">Upload a File</h3>
		</div>
		<hr/>

		<div>
          <form action="api/upload" method="post" enctype="multipart/form-data">
            <div class="form-inline">
              <div class="form-group">
                <input type="file" name="file">
              </div>
              <button type="submit" class="btn btn-sm btn-primary">Upload files</button>
            </div>
          </form>
		</div>

		<div style="margin-top: 50px; padding-bottom: 0px;">
			<h3 class="text-muted">Tracked Files</h3>
			<hr/>          
			<table class="table">
				<thead>
					<tr>
					<th>Hash</th>
					<th>Audit</th>
					<th>Last Published</th>
					</tr>
				</thead>
				<tbody>
					{% for hash in files %}
					<tr>
						<td><a href="api/download/{{ hash }}">{{ hash }}</a></td>
						<td>pub-350403-87a3571</td>
						<td>2 block(s) ago - #350405</td>
					</tr>
					{% endfor %}
					<tr>
				</tbody>
			</table>
			<div style="text-align:center;">
			<ul class="pagination">
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
			</ul>
			</div>
		</div>
		<div>
			<h3 class="text-muted">Info</h3>
			<hr/>  
			<ul>
				<li><a href="#">Last Block Seen:</a> 350407</li>
			</ul>  
		</div>

	</div>
</body>
</html>