<!DOCTYPE html>
<html lang="en">
<head>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
	<title>Hashserv Test Node</title>
</head>
<body>
	<div class="container">
		<div class="header">
			<h3 class="text-muted">Upload a File</h3>
		</div>
		<hr/>

		<div style="text-align:center;">
			<form action="api/upload" method="post" enctype="multipart/form-data">
				<div class="form-inline">
					<div class="form-group">
						<input type="file" name="file">
					</div>
					<button type="submit" class="btn btn-sm btn-primary">Upload file</button>
				</div>
			</form>
		</div>

		<div style="margin-top: 50px; padding-bottom: 0px;">
			<h3 class="text-muted">Tracked Files</h3>
			<hr/>          
			<table class="table">
				<thead>
					<tr>
					<th>Hash</th>
					<th>Download</th>
					<th>Receipt</th>
					</tr>
				</thead>
				<tbody>
					{% for hash in files %}
					<tr>
						<td>
							<a href="api/download/{{ hash }}">{{ hash }}</a>
						</td>
						<td>
							<a href="api/download/{{ hash }}">
								Download File</a>
						</td>
						<td><a href="#">In Queue</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>

			<h3 class="text-muted">Blocks</h3>
			<hr/>         
			<table class="table">
				<thead>
					<tr>
					<th>#</th>
					<th>Merkle Root</th>
					<th>TxID</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>47</td>
						<td>d49e815a91a26d399f8c2fba429e6ef7e472e54b6eb1e04341d207eee219f6c0</td>
						<td>
							<a href="https://blockchain.info/tx/9342632e80aa1abdb8559a3fe6ac367ecaa03992f0f539a39b4e983b718b1102">
							#352450-9342632e80...</a>
						</td>
					</tr>
				</tbody>
			</table> 
		</div>
	</div>
</body>
</html>