<!DOCTYPE html>
<html lang="en">
<head>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
	<title>Hashserv Test Node</title>
</head>
<body>
	<div class="container">
		<div class="header">
			<h3 class="text-muted">Upload a File</h3>
		</div>
		<hr/>

		<div style="text-align:center;">
			<form action="api/upload" method="post" enctype="multipart/form-data">
				<div class="form-inline">
					<div class="form-group">
						<input type="file" name="file">
					</div>
					<button type="submit" class="btn btn-sm btn-primary">Upload file</button>
				</div>
			</form>
		</div>

		<div style="margin-top: 50px; padding-bottom: 0px;">
			<h3 class="text-muted">Tracked Files</h3>
			<hr/>          
			<table class="table">
				<thead>
					<tr>
					<th>Hash</th>
					<th>Download</th>
					<th>Receipt</th>
					</tr>
				</thead>
				<tbody>
					{% for hash in files %}
					<tr>
						<td>
							<a href="api/download/{{ hash }}">{{ hash }}</a>
						</td>
						<td>
							<a href="api/download/{{ hash }}">
								Download File</a>
						</td>
						<td><a href="#">In Queue</a></td>
					</tr>
					{% endfor %}
					<tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>